<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>ATM Dashboard</h1>

<a href="/balance"><button>Check Balance</button></a>
<a href="/deposit"><button>Deposit</button></a>
<a href="/withdraw"><button>Withdraw</button></a>
<a href="/fastcash"><button>Fast Cash</button></a>
<a href="/statement"><button>Mini Statement</button></a>
<a href="/transfer"><button>Transfer</button></a>
<a href="/changepin"><button>Change PIN</button></a>
<a href="/profile"><button>Profile</button></a>
<a href="/help"><button>Help</button></a>
<a href="/logout"><button>Logout</button></a>

</body>
</html>